<div class="container">
  <div>
    <div>* Click to hide/show cell</div>
    <div>* Click head to hide/show whole column</div>
  </div>
  <div class="row" style="text-align: center">
    <div class="col-sm-4" (click)="hideAllJapanese()" style="border: 1px solid black">
      JAPANESE PHRASE
    </div>
    <div class="col-sm-4" (click)="hideAllTranslation()" style="border: 1px solid black">
      TRANSLATION
    </div>
    <div class="col-sm-4" (click)="hideAllNotes()" style="border: 1px solid black">
      NOTES
    </div>
  </div>
  <div *ngFor="let phrase of phrases; index as i;" class="row">
    <div class="col-sm-4" (click)="hide(phrase.japanese)" style="border: 1px solid black; text-align: center">
      <h2 *ngIf="phrase.japanese.show">{{phrase.japanese.text}}</h2>
      <div *ngIf="!phrase.japanese.show">REVEAL</div>
    </div>
    <div class="col-sm-4" (click)="hide(phrase.translation)" style="border: 1px solid black; text-align: center">
      <h2 *ngIf="phrase.translation.show">{{phrase.translation.text}}</h2>
      <div *ngIf="!phrase.translation.show">REVEAL</div>
    </div>
    <div class="col-sm-4" (click)="hide(phrase.notes)" style="border: 1px solid black">
      <h5 *ngIf="phrase.notes.show">{{phrase.notes.text}}</h5>
      <div style="text-align: center" *ngIf="!phrase.notes.show">REVEAL</div>
    </div>
</div>


<router-outlet></router-outlet>
